
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* <section> --> element, tag, #about, #contact --> id, .box --> class */
* {
    font-family: 'Orbitron', sans-serif;
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    background-color: #F5F5F5;
}

nav {
    background-color: #7dca3e;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
}

nav a {
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(100deg, #6eb336, #7dca3e);
    padding: 15px 50px;
}

nav a:hover {
    background-image: linear-gradient(100deg, #4a7a22, #7dca3e);
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(255, 211, 182);
}

nav a:first-child {
    padding-left: 10px;
}

nav a img {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

section img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 0.6fr 1.1fr 1.1fr 1.1fr 1.1fr;
    grid-template-areas: "section0 section1 section2 section3 section4";
}

footer {
    height: 1.5rem;
    background-color: #7dca3e;
    font-size: 0.8em;
    padding-top: 0.2em;
    padding-left: 1em;
}

.member_koala {
    /* background-image: linear-gradient(0deg, #f1e5c2, #f5f5f5); */
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(11, 61, 5, 0.8)), url(images/GE_bg_v2.png);
    background-size: cover;
    color: #F5F5F5;
    grid-area: section0;
}

.member_koala img {
    padding: 0 5%;
    border-radius: 50%;
}

.member_koala h2 {
    font-size: 2vw;
    text-align: center;
    margin-top: 0.5em;
}

.member_koala article {
    font-size: 1.8vw;
    margin: 1.5rem auto 1rem 5%;
}

.jsd11_num {
    font-size: 3vw;
    margin: auto 1vw;
}

section:not(:first-child) {
    outline: 1px solid #7c7c7c;
    align-content: end;
}

section:not(:first-child) h2 {
    position: absolute;
    bottom: 3%;
    font-size: 3.7vw;
    padding-left: 0.8vw;
    color: #F5F5F5;
}

section:not(:first-child) p {
    font-size: 1.5vw;
    text-align: center;
    color: #3f3f3f;
}

section:not(:first-child) img {
    margin-bottom: -0.5em;
}

.member_1 {
    /* background-image: linear-gradient(0deg, #6b5891, #f5f5f5); */
    background-image: linear-gradient(to top, rgba(72, 38, 139, 1), rgba(245, 245, 245, 0.6)), url(images/GE_m1_bg_v2.png);
    background-size: cover;
    grid-area: section1;
}

.member_2 {
    /* background-image: linear-gradient(0deg, #d9a02d, #f5f5f5); */
    background-image: linear-gradient(to top, rgba(250, 156, 14, 1), rgba(245, 245, 245, 0.6)), url(images/GE_m2_bg_v2.png);
    background-size: cover;
    grid-area: section2;
}

.member_3 {
    /* background-image: linear-gradient(0deg, #31bac7, #f5f5f5); */
    background-image: linear-gradient(to top, rgba(49, 144, 199, 1), rgba(245, 245, 245, 0.6)), url(images/GE_m3_bg_v2.png);
    background-size: cover;
    grid-area: section3;
}

.member_4 {
    /* background-image: linear-gradient(0deg, #c93840, #f5f5f5); */
    background-image: linear-gradient(to top, rgba(201, 56, 64, 1), rgba(245, 245, 245, 0.6)), url(images/GE_m4_bg_v2.png);
    background-size: cover;
    grid-area: section4;
}

.member_1:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(72, 38, 139, 1)), url(images/GE_m1_bg_v2.png);
    background-size: cover;
    img {
        width: 115%;
    }
    h2 {
        position: relative;
        bottom: -1.5rem;
    }
    p {
        color: #F5F5F5;
        margin-bottom: -10%;
    }
}

.member_2:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(250, 156, 14, 1)), url(images/GE_m2_bg_v2.png);
    background-size: cover;
    img {
        width: 115%;
    }
    h2 {
        position: relative;
        bottom: -1.5rem;
    }
    p {
        color: #F5F5F5;
        margin-bottom: -10%;
    }
}

.member_3:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(49, 144, 199, 1)), url(images/GE_m3_bg_v2.png);
    background-size: cover;
    img {
        width: 115%;
    }
    h2 {
        position: relative;
        bottom: -1.5rem;
    }
    p {
        color: #F5F5F5;
        margin-bottom: -10%;
    }
}

.member_4:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(201, 56, 64, 1)), url(images/GE_m4_bg_v2.png);
    background-size: cover;
    img {
        width: 115%;
    }
    h2 {
        position: relative;
        bottom: -1.5rem;
    }
    p {
        color: #F5F5F5;
        margin-bottom: -10%;
    }
}
