/* noto-sans-jp-100 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: url('./noto-sans-jp-v23-japanese_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'),
       url('./noto-sans-jp-v23-japanese_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-100.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-100.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-300 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: url('./noto-sans-jp-v23-japanese_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
       url('./noto-sans-jp-v23-japanese_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-300.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-300.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-regular - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('./noto-sans-jp-v23-japanese_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('./noto-sans-jp-v23-japanese_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-500 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('./noto-sans-jp-v23-japanese_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
       url('./noto-sans-jp-v23-japanese_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-500.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-500.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-700 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('./noto-sans-jp-v23-japanese_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('./noto-sans-jp-v23-japanese_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}
/* noto-sans-jp-900 - japanese_latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: url('./noto-sans-jp-v23-japanese_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
       url('./noto-sans-jp-v23-japanese_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./noto-sans-jp-v23-japanese_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-900.woff') format('woff'), /* Modern Browsers */
       url('./noto-sans-jp-v23-japanese_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./noto-sans-jp-v23-japanese_latin-900.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}